arxiv==1.4.8
cloudpickle==2.2.1
google-auth-oauthlib==1.2.1
pipreqs==0.4.13
psycopg2-binary==2.9.10
pymed==0.8.9
pytest-cov==6.0.0
python-dotenv==0.19.2
sqlalchemy2-stubs==0.0.2a38
watchdog==2.3.1
watchfiles==0.19.0

reflex>=0.3.6
